body {
    font-family: 'Roboto';
    background: white;
    margin: 0;
}

.section{
    height: 600px;
    margin: 10px 30px;
}

#font{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.parallax-container img{
    max-width: 100%;
    height: auto;
    transform: translate(0%,-30%);
}

.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}