body {
	font-family: 'Roboto';
	background: white;
	margin: 0;
}
h1 {
	font-family : 'Courgette','Pacifico';
}

.special{
	font-family: 'Pacifico';
	font-size: 1.25em;
}
.section {
	height: 650px;
	margin: 10px 30px;
}

#font {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.parallax-container img {
	transform: translate(0%, -30%);
}

.center {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.link {
	margin-bottom: 20px;
}
.btn {
	margin: 10px 20px;
}

.medium-nav {
	width: 100%;
	height: 30px;
}
.medium-nav li {
	padding: 5px 10px;
    font-size: 1.5em;
    display: inline;
}

/*
* FOOTER
*/
footer .section{
	height: 300px;
}

.poll_container {
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 300px;
}
.poll_container .poll_item{
    padding:10px;
	flex-grow: 1;
	margin: 20px 50px;
}

.poll_container .poll_item img{
   width: 100px;
}

.poll_container .poll_item img:hover{
	opacity: 0.7;
}
.poll_container .poll_item h4 {
    font-family: 'Pacifico', sans-serif;
    font-size: 18px;
}

/**
	SIDE-MENU
*/
#App {
	font-family: sans-serif;
  
	/* Give app full page to work with */
	height: 20vh;
	
}
  
#page-wrap {
	text-align: center;
  
	/* Prevent sidebar from showing a scrollbar on page */
	overflow: auto;
}
  
  /* Individual item */
.bm-item {
	display: inline-block;
  
	/* Our sidebar item styling */
	text-decoration: none;
	margin-bottom: 1px;
	margin-left: 5px;
	color: #d1d1d1;
	transition: color 0.2s;
  }
  
  /* Change color on hover */
.bm-item:hover {
	color: #c94e50;;
}

.bm-item-list a {
	padding: 0.3em;
}
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
  }
  
  /* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	position: relative;
}
  
  /* Color/shape of close button cross */
.bm-cross {
	background: #cfd2d4;
  }
  
  /* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 1.5em 1.5em 0;
	font-size: 1.15em;
}
  

  /* Wrapper for item list */
.bm-item-list {
		background: #373a47;
		margin: 0;
}
  
  /* Styling of overlay */
  .bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
  
/***
	RESPONSIVE
*/
@media only screen and (max-width: 403px) {
	.header {
		font-size: 2.5rem;
	}
	.parallax-container img {
		transform: translate(-50%, -50%);
	}
	.captcha iframe {
		width: 300px;
	}
}
