body {
    max-width: 150em;
    background-color: rgba(233, 233, 233);
}


main {
    display: flex;
    padding: 1em;
}

.descripcion {
    flex: none;
    width: 20em;
    max-width: 60em;
    min-width: 10em;
    border: solid 0.01em;
    border-radius: 5%;
    margin: 0 auto auto auto;
    box-shadow: 0.3em 0.3em rgba(88, 76, 54, 0.6);
    padding: 0.5em 0 0.5em 1.5em;
    font-size: 1.2rem;
    word-wrap: break-word;
    text-align: left;
    vertical-align: middle;
    background-color: #BE8C5D;
    color: #FFFFFF;
}

.list{
    height: 100%;
    
}

.ui.list a{
    display: flex;
}


.nav{
    display: flex;
    flex: 2;
    width: 70vw;
    max-width: 80vw;
    max-height: 30vh;
}

.list-nav {
    display: flex;
    width: 100%;
}

.list-item {
    flex: 1;
    max-width: 12em;
    border-radius: 10%;
    margin: 0.5em;
    font-size: 1.5em;
    border: solid 0.01em rgba(88, 76, 54);
    text-align: center;
    background-color: rgba(243, 232, 204);
}

.list-item:hover {
    background-color: rgba(240, 204, 5, 0.8);
}

.list-item:active {
    background-color: rgba(240, 204, 5, 0.6)
}

.login-form{
    display: flex;
    width: 50vw;
    min-width: 10em;
    max-width: 70em;
    margin-left: auto;
}

.signUp{
    display: flex;
    flex: 1;
}

footer {
    background-color: rgba(140, 79, 61);
}



@media screen and (max-width: 150em) {
    header { font-size: 4.5em; }
}

@media screen and (max-width: 75em) {
    header { font-size: 3em; }
}

@media screen and (max-width: 64em) {
    .containerHeader { height: 42vh; }

    header { font-size: 2.7em; }

    img { margin: 1.8em auto 1.8em auto; }

    main { display: block; }

    .descripcion { width: 35em; }

    .login-form { margin: auto auto auto auto; }
}

@media screen and (max-width: 48em) {
    .containerHeader { height: 35vh; }

    header { font-size: 2.5em; }

    img { margin: 1.5em auto 1.5em auto; }

    .descripcion { width: 25em; }

    .login-form { margin: auto auto auto auto; }
}

@media screen and (max-width: 37.5em) {
    .containerHeader { height: 30vh; }

    header { font-size: 2.3em; }

    img { margin: 1.2em auto 1.2em auto; }

    .descripcion { width: 20em; }

    .login-form { margin: auto 10em auto auto; }
}

@media screen and (max-width: 30em) {
    .containerHeader { height: 25vh; }

    header { font-size: 2em; }

    img { margin: 1em auto 1em auto; }

    .descripcion { width: 15em; }

    .login-form { margin: auto 10em auto auto; }
}

@media screen and (max-width: 20em) {
    .containerHeader { height: 20vh; }

    header { font-size: 1.6em; }

    img { margin: 0.8em auto 0.8em auto; }

    .descripcion { width: 12em; }

    .login-form { margin: auto 6em auto auto; }
}