
main {
    display: flex;
    margin: 1em;
    padding: 1em;
}

.descripcion {
    width: 30%;
    height: 40vw;
    min-width: 20%;
    max-width: 100%;
    border-radius: 5%;
    box-shadow: -0.3em -0.3em #584C36;
    padding: 0.3em;
    font-size: 1.2rem;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    background-color: #BE8C5D;
    color: #F3E8CC;
}

.list{
    height: 100%;
    
}

.ui.list a{
    padding: 30;
}


.nav{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 3em;
    background-color: #F3E8CC;
}

.list-nav {
    display: flex;
}

.list-item {
    flex: 1;
    font-size: 3vw;
    text-align: center;
}

.list-item:hover {
    background-color: #F0CC05;
}

.login-form{
    display: block;
    width: 40vw;
    min-width: 20vw;
    max-width: 70vw;
    height : 60%;
    min-height: 60%;
    max-height: 100%;
    margin: 1em;
}

.signUp{
    display: block;
    flex: 1;
}


@media screen and (max-width:30em) {
    main { display: block; }

    .descripcion { 
        display: block;
        width: 100%;
    }
    .nav { display: flex; }

    .login-form { 
        display: block;
        width: 70vw;
        position: relative;
        right: 1em;
        margin: 2em;
    }
}