.headerHome {
    display: block;
    width: 100vw;
    height: 20vh;
    max-width: 300em;
}

.logoHome    {
    flex: 1;
    width: 4vw;
    height: 4vw;
    max-width: 4em;
    max-height: 4em;
    min-width: 1.5em;
    min-height: 1.5em;
    margin: auto;
    background-size: contain;
}

.headerContainer {
    display: flex;
    max-width: 40em;
    margin: auto 0 auto auto;
}

h2 {
    flex: 1;
    margin: auto;
    font-family: Courgette;
    font-size: 2em;
}

.materias_container{
    min-height: 400px;
}

.materias_container span {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.materias_container .materia_item{
    width:20%;
    height: 50%;
    padding:10px;
    box-sizing: border-box;
}

.materias_container .materia_item .box {
    width:100%;
    height: 100%;
}

.materia_data_wrapper {
    display: flex; 
}

.materia_data_wrapper .left {
    box-sizing: border-box;
    padding:10px 20px;
}

.materia_data_wrapper .right {
    flex-grow: 1;
    box-sizing: border-box;
    border-left: 1px solid #b9b9b9;
    padding: 0px 20px;
}


@media screen and (max-width: 30em) {
    h2 { font-size: 1em; }
}