.containerHeader {
	display: block;
	width: 100vw;
	height: 50vh;
	max-width: 150em;
	max-height: 15em;
	padding: 0.1em;
	text-align: center;
	--webkit--text-align: center;
	background-color: rgba(140, 79, 61);
}

img {
	display: block;
	max-width: 6em;
	max-height: 10vw;
	min-width: 5vw;
	min-height: 5vw;
	margin: 2em auto 2em auto;
	background-size: contain;
}

header {
	display: block;
	font-family: Courgette, Pacifico;
	font-size: 3em;
	text-align: center;
	color: #FFFFFF;
}

.center {
	flex: 1;
	color: #F3E8CC;
	text-align: center;
	vertical-align: middle;
}

