.containerHeader {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-evenly;
	width: 100vw;
	height: 50vh;
	max-width: 150em;
	max-height: 15em;
	padding: 0.1em;
	background-color: rgba(140, 79, 61);
}

img {
	flex: 1;
	width: 10vw;
	height: 10vw;
	max-width: 6em;
	max-height: 6em;
	min-width: 3em;
	min-height: 3em;
	background-size: contain;
}

header {
	flex: 1;
	font-family: Courgette, Pacifico;
	font-size: 3em;
	color: #FFFFFF;
}

.center {
	flex: 1;
	color: #F3E8CC;
	text-align: center;
	vertical-align: middle;
}

